.logo{
    height: 100px;
}

.canvas{
    position: absolute;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    background: #f3f2ef;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
}

.header{
    text-align: center;
}
.login-container{
    margin-top: 30px;
    padding: 40px;
    background: white;
    box-shadow: 2px 1px 20px 7px #d4d2d2;
}

.form{
    width: 320px;
}
.loginIcon{
    font-size: 1.6rem;
    padding: 5px;
}


@media (max-width: 768px) {
    .form{
        width: -webkit-fill-available;
    }
    .canvas{
        background:white;
    }
    .login-container{
        box-shadow: 0px 0px;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }
}

