.banner_img{
    object-fit: fill;
    width: 650px;
    box-shadow: 0px 20px 20px 0px #e1e1e1;
    height: 160px;
}

.profile_card{
    width: 650px;
}
.image_conatiner{
    position: relative;
    width: 650px;
    height: 250px;
}

.camera{
    width: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    height: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icon{
    background: white;
    font-size: 20px;
}

.modal-close{
    position: absolute;
    top: 15px;
    right: 10px;
}
@media (max-width: 768px) {
    .image_conatiner{
        width: -webkit-fill-available;
    }
    .banner_img{
        width: -webkit-fill-available;
    }  
    .profile_card{
        width: -webkit-fill-available;
    }
}

.profile{
    top: 90px;
    left: 20px;
    position: absolute;
    z-index: 20;
}

.profile_img{
    width: 150px;
    box-shadow: -2px 4px 20px 0px #c7c7c7;
    border: 3px solid white;
    height: 150px;
    border-radius: 50%;
}