.banner_img{
    object-fit: fill;
    width: 750px;
    box-shadow: 0px 20px 20px 0px #e1e1e1;
    height: 160px;
}

.profile_card{
    width: 750px;
    margin:10px;
}
.image_conatiner{
    position: relative;
    width: 750px;
    height: 250px;
}

.camera{
    width: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    height: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icon{
    background: white;
    font-size: 20px;
}

.modal-close{
    position: absolute;
    top: 15px;
    right: 10px;
}
@media (max-width: 768px) {
    .image_conatiner{
        width: -webkit-fill-available;
    }
    .banner_img{
        width: -webkit-fill-available;
    }  
    .profile_card{
        width: -webkit-fill-available;
    }
}


.name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
}

.profile{
    top: 90px;
    left: 20px;
    position: absolute;
    z-index: 20;
}

/* //////////////////////////////////////---Profile Image--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.profile_img{
    width: 150px;
    box-shadow: -2px 4px 20px 0px #c7c7c7;
    border: 3px solid white;
    height: 150px;
    border-radius: 50%;
}

.ImageEditor-container
{
    width: 500px;
}
.imageEditor{
    position: relative;
    height: 355px;
}
.crop-container {
    height: 300px;
}
  

.reactEasyCrop_Container{
    height: 300px;
}
.controls {
    width: 90%;
    margin:15px;
    display: flex;
    align-items: center;
}

.slider {
padding: 22px 0px;
}

.slider-container
{
    display: flex;
}

@media (max-width: 768px) {
    .imageEditor{
        width: 300px;
        height: 450px;
    }
    .ImageEditor-container
    {
        width: 300px;
    }
    .slider-container
    {
        display: block;
    }
}

/* \\//////////////////////////////////////--For name modal--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.name-modal{
    width: 600px;
}

@media (max-width: 768px) {
    .name-modal{
        width: 300px;
    }
}

/* //////////////////////////////////////////----About modal--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.about-modal{
    width: 600px;
}
@media (max-width: 768px) {
    .about-modal{
        width: 300px;
    }
}